<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <!-- <ion-item (click)="onDownloadExternal()" class="ion-activated">
      <ion-icon name="arrow-down-circle-outline" slot="start"></ion-icon>
      <ion-label>Download File (External)</ion-label>
    </ion-item> -->

    <ion-item >
      <ion-label>Toggle Item</ion-label>
      <ion-toggle
        mode="md"
        [(ngModel)]="enabledPasscode"
        (ionChange)="onAction()"
      ></ion-toggle>
    </ion-item>

    <ion-item (click)="onGenerateClicked()">
      <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
      <ion-label>Generate PDF File (Data)</ion-label>
    </ion-item>
  
    <ion-item (click)="onDownloadClicked()">
      <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
      <ion-label>Download File (Data)</ion-label>
    </ion-item>

    <ion-item (click)="onCopyFileData()">
      <ion-icon name="documents-outline" slot="start"></ion-icon>
      <ion-label>Copy File</ion-label>
    </ion-item>

    <ion-item (click)="onListDir()">
      <ion-icon name="grid-outline" slot="start"></ion-icon>
      <ion-label>List File</ion-label>
    </ion-item>

    <ion-item (click)="onSendEmail()">
      <ion-icon name="documents-outline" slot="start"></ion-icon>
      <ion-label>Email File</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Directories</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>Data Directory</div>
      <div>{{this.file.dataDirectory}}</div>
      <div>External Directory</div>
      <div>{{this.file.externalDataDirectory}}</div>
      <div>External Root Directory</div>
      <div>{{this.file.externalRootDirectory}}</div>
      <div>External Application Directory</div>
      <div>{{this.file.externalApplicationStorageDirectory}}</div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Log Statements</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div *ngFor="let log of logs">
        {{log}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
